.caja{
  margin-top: 18px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: black;
  border-radius: 12px;
  background: #d1c300;
  box-shadow: inset 21px 21px 42px #645e00,
              inset -21px -21px 42px #ffff00;
}

.titulo{
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  color: rgb(0, 0, 0);
  width: 100%;
}


.sec-title{
  width: 100%;
}

.cuerpo {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: none;
}

.contenido {
  height: 100%;
  text-align: left;
  width: 100%;
}

.namebig{
  font-size: 40px;
}


button {
  border-radius: 10px;
  padding: 3% 8%;
  border: none;
  margin-bottom: 5px;
}

.ver{
  font-weight: bold;
  background: rgb(44,255,0);
background: radial-gradient(circle, rgba(44,255,0,1) 29%, rgba(219,255,0,0) 100%);

}

.eliminar{
  font-weight: bold;
  background: rgb(255,0,0);
background: radial-gradient(circle, rgba(255,0,0,1) 29%, rgba(219,255,0,0) 100%);

}
