<div class="card">
  <div class="card-body">
    <!-- FORM TO ADD TASKS -->
    <h2>Agregar</h2>
    <form ngNativeValidate (submit)="Addtarea(newNombre,newDescription,newApellido,newEmail,newCelular,newFecha,newHora)">
      <div class="form-group">
        <label class="form-label">Nombre</label>
        <input type="text" placeholder="Nombre" #newNombre class="form-control" title="El nombre solo debe tener letras y espacios" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
      </div>
      <div class="form-group">
        <label class="form-label">Apellidos</label>
        <input type="text" placeholder="Apellidos" #newApellido class="form-control" title="El apellido solo debe tener letras y espacios" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
      </div>
      <div class="form-group">
        <label class="form-label">Correo Electronico</label>
        <input type="email" placeholder="Email" #newEmail class="form-control" title="Ingresa un Correo Válido" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required>
      </div>
      <div class="form-group">
        <label class="form-label">Numero de Celular</label>
        <input type="number" placeholder="celular" #newCelular class="form-control" title="Ingrese 8 digitos" pattern="[0-9]{8}" required>
      </div>
      <div class="form-group">
        <label class="form-label">Seleccione una Fecha</label>
        <input type="date" placeholder="fecha" #newFecha class="form-control" required>
      </div>
      <div class="form-group">
        <label class="form-label">Seleccione una Hora</label>
        <input type="time" placeholder="Hora" #newHora class="form-control" required>
      </div>
      <div class="form-group">
        <label class="form-label">Describa su Razon...</label>
        <textarea #newDescription cols="20" rows="5" class="form-control" placeholder="Descripcion" title="Tu descripcion no debe exceder los 255 caracteres" data-pattern="^.{1,255}$" required></textarea>
      </div>
      <button type="submit" class="boton btn-block">Documentar</button>
    </form>
  </div>
</div>

