<!-- <div class="navbar">
<div class="container">
            <div class="link" ><a [routerLink]="['curriculum']" routerLinkActive="active">Curriculum Vitae</a></div>
            <div class="link" ><a [routerLink]="['agenda']" routerLinkActive="active">Agenda Electronica</a></div>
            <div class="link" ><a [routerLink]="['contacto']" routerLinkActive="active">Contacto</a></div>
  </div>
</div>
 -->






<div class="body">
    <header class="clearfix">
        <div class="container">
            <div class="header-left">
                <h1>
                    Pablo Fernandez
                </h1>
            </div>
            <div class="header-right">
                <label for="open">
                    <span class="hidden-desktop">
                        <div class="icon">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                    </span>
                </label>
                <input type="checkbox" name="" id="open">
                <nav>
                    <a [routerLink]="['curriculum']" routerLinkActive="active">Curriculum Vitae</a>
                    <a [routerLink]="['agenda']" routerLinkActive="active">Agenda Electronica</a>
                    <a [routerLink]="['contacto']" routerLinkActive="active">Contacto</a>
                </nav>
            </div>
        </div>
    </header>

</div>